/* styles go here */
.info {
  display: block;
  margin: 10px 0;
}

.group {
  margin: 20px 2px;
}

/* Helpers */
.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

/* .group .info:first-of-type {
  margin-top: 0;
}

.group .info:last-of-type {
  margin-bottom: 0;
} */
